modules = ["nodejs-18", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 40895561
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx turbo dev --parallel"
